div {
  text-align: center;
  margin: 20px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

.hidden > div button {
  font-size: 20px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

.button-play {
  color: white;
  background-color: #4CAF50;
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
  border: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.not-margin {
  margin: 0;
}

.hidden {
  display: none;
}

canvas {
  display: block;
  margin: 20px auto;
  width: 35vw;
}

@media (max-width: 620px) {
  canvas {
    width: 70vw;
  }

  .hidden {
    display: block;
  }
}
