div {
  text-align: center;
  margin: 20px;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

canvas {
  display: block;
  margin: 20px auto;
}

@media (max-width: 1200px) {
  canvas {
    transform: scale(0.7);
    transform-origin: top;
  }
}

@media (max-width: 700px) {
  canvas {
    transform: scale(0.6);
    transform-origin: top left;
  }
}
